body{
    background-color: #f36520;
}
header {
    margin: 2vh auto;
}

header, nav, main, .row div {
    border: 5px solid #f36520;
    min-height: 10vh;
    background-color:#fffeee;
}

nav, main {
    min-height: 82vh;
}

.row div {
    background-image: url(AAAABQ94zuZk-nr5fUE0hX0b1QTxRqftRmYdV97decHANZkQNK8MmOuVGLpgxGJvy_RMfl4UBvigYJnUluud1n5dE--qdMrMlmwF43fG8WkYSSIHkU8ORSuYInVb.jpg);
}
