h1{
    color : black
}
/*Celular*/
@media (min-width: 576px){
    h1 {
        color : rgb(26, 155, 0);
    }
}
/*Tablet*/
@media (min-width: 768px){
    h1 {
        color : rgb(255, 251, 0);
    }
}

@media (min-width: 992px){
    h1 {
        color : rgb(255, 0, 0);
    }
}
/*PC*/
@media (min-width: 1200px){
    h1 {
        color : violet;
    }
}